<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="carlosperez.pmdm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Actividad Principal -->
        <activity android:name="carlosperez.pmdm.Activity_Main">
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <!-- Actividad Principal -->

        <activity android:name="carlosperez.pmdm.Activity_Registro" />
        <activity android:name="carlosperez.pmdm.Activity_Apuestas" />
        <activity android:name="carlosperez.pmdm.Activity_ApuestasAjustes" />
        <activity android:name="carlosperez.pmdm.Activity_Ayuda" />
        <activity android:name="carlosperez.pmdm.Activity_Informacion" />
        <activity android:name="carlosperez.pmdm.Activity_Resultados" />

        <!-- Activity PreferenciasFragment -->
        <!-- <activity android:name="carlosperez.pmdm.PreferenciasFragment" /> -->
        <activity android:name="carlosperez.pmdm.Activity_SetPreferencias" />


    </application>

</manifest>